{% extends 'base.html' %}

{% block content %}
    <nav class="navbar navbar-expand navbar-dark bg-secondary">
        <div class="container">
            <span class="navbar-brand mb-0 h1 fw-bold fs-1">MY BAG</span>
            <div class="collapse navbar-collapse">
                <div class="d-flex justify-content-end">
                    <form class="form.inline">
                        <a href="{% url 'main:logout' %}">
                            <button class="btn btn-light" type="button">Logout</button>
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </nav>

    <div class="container">
        <br>
        <h1>Hallo, {{nama}}!</h1>
        <h6 class="text-muted">Sesi terakhir login: {{ last_login }}</h6>

        <br>
        <table class="table table-bordered">
            <tr>
                <th>Name</th>
                <th>Amount</th>
                <th>Description</th>
            </tr>
                
            {% for item in items %}
                <tr>
                    <td>{{item.name}}</td>
                    <td>{{item.amount}}</td>
                    <td>{{item.description}}</td>
                </tr>
            {% endfor %}
        </table>
        
        <br />
        
        <a href="{% url 'main:create_product' %}">
            <button class="btn btn-light">
                Add New Item
            </button>
        </a>

    </div>

    <footer class="footer">
        <div class="container">
          <span class="text-muted">Puti Raissa - {{kelas}}</span>
        </div>
    </footer>

{% endblock content %}